<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nans_faq>
            <settings>
                <footer_link>1</footer_link>
            </settings>
        </nans_faq>
    </default>
</config>